include README.rst
include LICENSE.txt
include requirements.txt
include setup.py
recursive-include PARyOpt/ *.py
recursive-include PARyOpt/kernel *.py
recursive-include PARyOpt/evaluators *.py
recursive-include PARyOpt/ *.md
recursive-include docs/ *.rst
prune docs/_build
recursive-include examples/ example* *.csv
recursive-include tests *.py
