/* Description: CANT Screen Stylesheet
 * Based on: Sinorca, Gila (http://www.oswd.org)
 * Author: Franky Backeljauw (franky.backeljauw@ua.ac.be)
 * Last change: 2004/04/07
 */

/* ##### common ##### */

body, td {
  color: rgb(19,3,3);
  background-color: white;
}

acronym, .titletip {
  border-bottom-color: rgb(19,3,3);
}

/* ##### header ##### */

#header {
  background-color: rgb(167,21,25);
  /* border-color: rgb(19,3,3); */
}

/* ##### topbar ##### */

#header #topbar {
  color: rgb(255,221,32);
  background-color: rgb(142,6,9);
  border-color: rgb(56,8,10);
}

#header #topbar a {
  color: rgb(255,221,32);
  background-color: transparent;
}

/* ##### title ##### */

#header #title {
  color: rgb(255,164,32);
  background-color: transparent;
}

/* ##### menubar ##### */

#header #menubar {
  color: rgb(255,164,32);
  background-color: rgb(56,8,10);
}

#header #menubar a {
  color: rgb(255,164,32);
  background-color: transparent;
}

#header #menubar #highlight {
  color: rgb(255,221,32);
  background-color: transparent;
}

/* ##### sidebar ##### */

#sidebar {
  /* border-color: rgb(19,3,3); */
  background-color: white;
}

#sidebar div {
  border-color: rgb(19,3,3);
}

#sidebar #related {
  background-color: rgb(252,236,237);
}

#sidebar .title {
  color: rgb(56,8,10);
}

#sidebar a {
  color: rgb(142,6,9);
  background-color: transparent;
}

#sidebar .thispage {
  color: rgb(255,221,32);
  background-color: rgb(167,21,25);
  border-color: rgb(19,3,3);
}

#sidebar a:hover { /* #sidebar a.thispage:hover { */
  color: rgb(255,221,32);
  background-color: rgb(56,8,10);
}

#sidebar .text a:hover {
  color: rgb(255,221,0);
  background-color: transparent;
}

/* ##### content ##### */

#content {
  color: rgb(19,3,3);
  background-color: white;
  border-color: rgb(19,3,3);
}

#content a, .hrefcolor {
  color: rgb(142,6,9);
  background-color: transparent;
}

#content h1, #content h2, #content h3,
#content h4, #content h5, #content h6 {
  color: rgb(56,8,10);
  background-color: transparent;
}

#content h1, #content h2 {
  border-color: rgb(56,8,10);
}

#content .topofpage {
  color: rgb(142,6,9);
  background-color: transparent;
}

#content table.bordered th {
  background-color: rgb(252,236,237); 
}

/* ##### footer ##### */

#footer {
  color: rgb(255,221,43);
  background-color: rgb(142,6,9);
  border-color: rgb(56,8,10);
}

#footer a {
  color: rgb(255,221,32);
  background-color: transparent;
}


