/* Description: CANT Print Stylesheet
 * Based on: Sinorca, Gila (http://www.oswd.org)
 * Author: Franky Backeljauw (franky.backeljauw@ua.ac.be)
 * Last change: 2004/04/09
 */

/* ##### common ##### */

body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;
}

.noprint {
  display: none !important;
}

.smallcaps, abbr, acronym {
  /* font-size: 105%; */
  font-variant: small-caps;
}

/* ##### header ##### */

/*
#header {
  border-bottom: 1px solid;
}
*/

/* ##### topbar ##### */

#topbar {
  display: none;
}

/* ##### title ##### */

/*
#header #title h1 {
  color: black;
  background-color: transparent;
  font-weight: normal;
  margin: 0;
  padding: 0 0 0.4ex 0;
}
*/

#header #title h1 {
  display: none;
}

/* ##### menubar ##### */

#menubar {
  display: none;
}

/* ##### sidebar ##### */

#sidebar {
  display: none;
}

/* ##### content ##### */

#content {
  text-align: left; /* justify; */
  line-height: 1.3em;
  margin: 0; 
  padding: 0;
}

#content p {
  margin: 0 0 2ex 0;
  padding: 0;
}

#content a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/*
#content a:after {
  color: teal;
  background-color: transparent;
  content: "<" attr(href) ">";
  font-size: 90%;
  padding-left: 1ex;
}
*/

#content h1 {
  font-size: 145.5%;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0.5ex 0 0.5ex 0.1ex;
  border-bottom: 2px solid;
}

#content h2 {
  font-size: 130%;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0.5ex 0 0.5ex 0.1ex;
  border-bottom: 1px dotted;
}

#content h3 {
  font-size: 115%;
  font-weight: bold;
  margin: 1.5em 0 0.5em 0;
  padding: 0.5ex 0 0.5ex 0;
}

#content h4 {
  font-size: 107.5%;
  font-weight: bold;
  margin: 1.5em 0 0.5em 0;
  padding: 0.5ex 0 0.5ex 0;
}

#content h5 {
  font-size: 100%;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0.6em 0 0.3em 0;
}

#content h6 {
  font-size: 95%;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0.7em 0 0.3em 0;
}

#content .topofpage, #content .topofpage2 {
  display: none;
}

#content .nowrap {
  white-space: nowrap;
}

#content table {
  font-size: 100%;
  padding: 0 1em 0.3em 0;
  margin: 0;
}

#content tr, #content td {
  vertical-align: top;
  padding: 0 0.5em 0.3em 0;
  margin: 0;
}

#content dl {
  padding-bottom: 0.5em;
  margin: 0;
}

#content dt {
  font-weight: bold;
  padding: 0 0 0.3em 0;
  margin: 0;
}

#content dd {
  padding-left: 1.75em;
  margin: 0;
}

#content ol, #content ul {
  list-style-position: outside;
  margin-left: 1.75em;
  padding-left: 1.75em;
}

#content #extraskip {
  margin-top: 5em;
}

/* ##### footer ##### */

#footer {
  font-size: 91%;
  margin: 3em 0 0 0;
  padding: 1ex 0 0 0;
  clear: both;
  border-top: 1px solid;
}

#footer .left {
  display: none;
}

#footer .right {
  text-align: left;
  line-height: 1.4em;
}

#footer a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
