# Configure the macros in this file to reflect dependencies on your system

################################################################################
# 1. Paths for "includes" (i.g., headers) and libraries
################################################################################

# Important: PAMPACDIR must be set appropriately for your directory system
PAMPACDIR := /home/dhavide/repositories/pampac
# Customize PAMPACLIBDIR to wherever you wish to install the library
PAMPACLIBDIR := ${PAMPACDIR}/lib
EXAMPLEDIR := ${PAMPACDIR}/example
SRCDIR := ${PAMPACDIR}/src

# LDPATHS: appropriate paths for libraries (requires -L prefixes)
LDPATHS = -L${PAMPACLIBDIR}
LIBNAME = libpampac.a

# INCDIRS contains paths to include for .h header files (requires -I prefixes)
INCDIRS := -I/usr/include/gsl -I${SRCDIR}

################################################################################
# 2. Executables, compilers (with default flags and compilation rules)
################################################################################

MPICC := /usr/bin/mpicc
CFLAGS := -std=c99 -g -Wall
MPIEXEC := /usr/bin/mpiexec
DOT := /usr/bin/dot
RM := /bin/rm

################################################################################
# 3. Rules for compilation
################################################################################

.SUFFIXES: .o .c 
.SUFFIXES: .svg .gv 
.c.o:
	${MPICC} ${INCDIRS} ${CFLAGS} -c $<


.svg.gv:h
	${DOT} -Tsvg $< -o $*.svg

