# Configure the macros in this file to reflect dependencies on your system
# Note: implicitly assumes that Make.config has been imported already.

# NPROCS (number of processors) can be set when invoking make
# e.g., make NPROCS=8 run
NPROCS ?= 4

# You may choose to configure DATADIR for distinct problems.
DATADIR := ${EXAMPLEDIR}/data

# PARAMETERFILE is the location of the parameter file the PAMPAC library will
# parse to determine run-time options. Details on the contents of the file
# are described in the User Manual.
PARAMETERFILE := ${EXAMPLEDIR}/parameters.txt

# INCDIRS sets tells the compiler where to find header (.h) files when
# building. This variable is initialized in ${PAMPACDIR}/Make.config.
# Note: you need the -I prefix before the path here.
INCDIRS += -I/usr/include/atlas

# LDPATHS tells the compiler in which directories libraries can be
# found when linking. Note: you must include the prefix "-L" on each path.
LDPATHS += -L/usr/lib/atlas-base

# LDLIBS specifies other library and object files to link against. This
# variable is initialized in ${PAMPACDIR}/Make.config.
# Note: you need the "-l" prefix to add libraries here.
PAMPAC     = -lpampac
LAPACK     = -llapack_atlas
BLAS       = -lgsl -lgslcblas
MATH       = -lm
LDLIBS += ${PAMPAC} ${LAPACK} ${BLAS} ${MATH}

