exportPattern("^[[:alpha:]]+")
export(cova)
export(Hygeo1F2)
export(maps)
export(specsim)
export(spectraldensity)
export(test)
export(validationMatern)
export(variograms)
importFrom("grDevices", "colorRampPalette", "dev.off", "png")
importFrom("graphics", "box", "image", "par", "abline", "legend", "lines", "plot", "points")
importFrom("stats", "ks.test", "rgamma", "rnorm", "runif", "rpois", "rexp", "shapiro.test")
importFrom("utils", "write.table")
