 /* Description: CANT Screen Stylesheet
 * Based on: Sinorca, Gila (http://www.oswd.org)
 * Author: Franky Backeljauw (franky.backeljauw@ua.ac.be)
 * Last change: 2004/04/08
 */

/* ##### common ##### */

body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 82%; /* enables font size scaling in MSIE */
  margin: 0;
  padding: 0;
}

.nodisplay {
  display: none;
}

.smallcaps, abbr, acronym {
  /* font-size: 105%; */
  font-variant: small-caps;
}

.titletip {
  border-bottom: 1px dotted;
  cursor: help;
  margin: 0;
  padding: 0 0 0.4px 0;
}

/* ##### header ##### */

/*
#header {
  border-bottom: 1px solid;
}
*/

/* ##### topbar ##### */

#topbar {
  margin: 0;
  padding: 0.75ex 0.5ex 1ex 0.75em;
  border-bottom: 1px solid;
}

#topbar a {
  text-decoration: none;
  font-size: 91%;
  margin: 0;
  padding: 0 0.5ex 0 0.25ex;
}

#topbar a:hover {
  text-decoration: underline;
}

/* ##### title ##### */

#header #title h1 {
  font-size: 337%;
  font-weight: normal;
  margin: 0 0 0 0.5em;
  padding: 0.3ex 0 0.4ex 0;
}

/* ##### menubar ##### */

#menubar {
  margin: 0;
  padding: 1ex 1ex 1ex 0.6em;
}

#menubar a {
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 0.75ex 0 0.5ex;
}

#menubar a:hover {
  text-decoration: underline;
}

#menubar #highlight {
  text-decoration: underline;
}

/* ##### sidebar ##### */

#sidebar {
  width: 15em; 
  float: left;
  clear: left;
  /* border-right: 1px solid; */
}

#sidebar div {
  border-bottom: 1px solid;
}

#sidebar .title {
  font-weight: bold;
  margin: 0 0 0.5em 0.5ex;
  padding: 2em 0 0 0.6em;
}

#sidebar ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0.1ex 0 0.1ex 0;
  padding: 0.1ex 0 1.75em 0;
}

#sidebar li {
  margin: 0;
  padding: 0.1ex 0; /* circumvents a rendering bug in MSIE 6 */
}

#sidebar a, #sidebar .thispage {
  text-decoration: none;
  margin: 0;
  padding: 0.5em 1ex 0.5em 1.5em;
  display: block;
}

#sidebar .thispage {
  font-weight: bold;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#sidebar a:hover {
/*  font-weight: bold;  gives problems in mozilla-firefox, the font is not same height with bold on...*/
}

#sidebar .text {
  display: block;
  border-bottom: none;
}

#sidebar .text .title {
  margin: 0 0 0.5em 0.5ex;
  padding: 2em 0 0 0.6em;
}

#sidebar .text p {
  margin: 0;
  padding: 0.5em 1ex 0.5em 1.5em;
}

#sidebar .text a {
  text-decoration: underline;
  display: inline;
}

#sidebar .text a:hover {
  text-decoration: none;
}

#sidebar td {
  vertical-align: top;
}

/* ##### content ##### */

#content {
  text-align: left; /* justify; */
  line-height: 1.4em;
  margin: 0 0 0 15em; 
  padding: 1.5em 1.5em 4em 1.5em;
  border-left: 1px solid;
}

#content p {
  margin: 0.5em 1ex 0.75em 1ex;
  padding: 0;
}

#content pre {
  margin: 0.5em 1ex 0.75em 4ex;
  padding: 0;
}

#content a {
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline;
}

#content h1 {
  font-size: 145.5%;
  font-weight: bold;
  margin: 0 0 1em 0.5ex;
  padding: 0.5ex 0 0.5ex 0.1ex;
  border-bottom: 2px solid;
}

#content h2 {
  font-size: 130%;
  font-weight: bold;
  margin: 0 0 1em 0.5ex;
  padding: 0.5ex 0 0.5ex 0.1ex;
  border-bottom: 1px dotted;
}

#content h3 {
  font-size: 115%;
  font-weight: bold;
  margin: 1.5em 0 0.5em 0.5ex;
  padding: 0.5ex 0 0.5ex 0.6ex;
}

#content h4 {
  font-size: 107.5%;
  font-weight: bold;
  margin: 1.5em 0 0.5em 0.5ex;
  padding: 0.5ex 0 0.5ex 0.6ex;
}

#content h5 {
  font-size: 100%;
  font-weight: bold;
  margin: 0 0 0 0.5ex;
  padding: 0.6em 0 0.3em 0.6ex;
}

#content h6 {
  font-size: 95%;
  font-weight: bold;
  margin: 0 0 0 0.5ex;
  padding: 0.7em 0 0.3em 0.6ex;
}

#content .topofpage, #content .topofpage2 {
  font-size: 91%;
  font-weight: bold;
  text-decoration: none;
  float: right;
}

#content .topofpage {
  margin: 1.5ex 1ex 0 0;
  padding-top: 0;
}

#content .topofpage2 {
  margin: 1ex 1ex 0 0;
  padding-top: 0;
}

#content .nowrap {
  white-space: nowrap;
}

#content table {
  font-size: 100%; /* circumvents a rendering bug in MSIE 6 */
  padding: 0 1em 0.3em 0.2em;
  margin: 0;
}

#content table.bordered {
  font-size: 100%; /* circumvents a rendering bug in MSIE 6 */
  padding: 0;
  margin: 0;
  margin-left: 2ex;
  border-collapse: collapse;
  border: 1px solid;
}

#content table.bordered td {
  padding: 1px 1ex 1px 1ex;
  border: 1px solid;
}

#content table.bordered th {
  padding: 2px 1ex 2px 1ex;
  border: 1px solid;
}

#content tr, #content td {
  vertical-align: top;
  padding: 0 0.5em 0.3em 0.5ex;
  margin: 0;
}

#content dl {
  padding-bottom: 0.5em;
  margin: 0;
}

#content dt {
  font-weight: bold;
  padding: 0 0 0.3em 0;
  margin: 0;
}

#content dd {
  padding-left: 1.55em;
  margin: 0;
}

#content ol, #content ul {
  list-style-position: outside;
  margin-left: 1.75em;
  padding-left: 1.75em;
}

#content #extraskip {
  margin-top: 5em;
}

/* ##### footer ##### */

#footer {
  font-size: 91%;
  margin: 0;
  padding: 0.75ex 0.75em 0.75em 0.75em;
  clear: both;
  border-top: 1px solid;
  border-bottom: 2px solid;
}

#footer .left {
  line-height: 1.4em;
  float: left;
  clear: left;
}

#footer .right {
  text-align: right;
  line-height: 1.4em;
}

#footer a {
  text-decoration: underline;
}

#footer a:hover {
  text-decoration: underline;
}
