/*
 *  Style sheet for software pages
 */

body{
	font-family: Times;
	font-size: medium; 
	background-color: white;
	margin-left: 4em;
	width: 35em
}
 
td{
	font-family: Times;
	font-size: medium 
}

p.ref{  /* for bibliography */
	margin-left: 4em;
	text-indent: -2.5em
} 

code{
	font-family: Courier, monospace
}

p.code{
	margin-left: 2.5em;
	text-align: left;
	font-family: Courier, monospace
}

h1{
	font-size: large;
	text-align: center;
}

h2{
	text-align: left;
	margin-top: 1.5ex
}

div.cent{
	text-align: center
}




